@import './font.css';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.virtual-keyboard {
    max-width: 980px;
    margin: auto;
    text-align: center;
}

.project-name {
    padding-top: 50px;
    margin-bottom: 30px;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.textarea {
    width: 100%;
    height: 300px;
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff6e;
}

textarea:focus, input:focus {
    outline: none;
}

.keyboard-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #5454543d;
    border-radius: 5px;
}

.hide {
    display: none;
}

.key-row {
    display: flex;
    gap: 10px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.key:hover {
    background-color: #dddddd;
}

.press {
    box-shadow: 0px 0px 4px 0px #363636 inset;
}

.Backspace,
.Tab,
.Delete,
.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight,
.ControlLeft,
.ControlRight {
    flex-grow: 1;
}

.Space {
    flex-grow: 10.5;
}

.lang-and-ver {
    margin-top: 30px;
    padding-bottom: 50px;
}